<!DOCTYPE html>
<html>
<body>

<h1>PRODUCT PURCHASE</h1>
<p>.</p>
<form action="/prediction" method="post">
    <label for="Gender">Gender:</label>
    <input type="text" id="Gender" name="Gender" required><br>
    <label for="Age">Age:</label>
    <input type="text" id="Age" name="Age" required><br>
    <label for="EstimatedSalary">Estimated Salary:</label>
    <input type="text" id="EstimatedSalary" name="EstimatedSalary" required><br>
    <button type="submit">Prediction</button><br>
</form>

</body>
</html>
